.page {
  background-image: url("../../assets/main-page__backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 576px;
  max-width: 1440px;
}

.page__content {
  margin: 0 auto;
  overflow: hidden;
}

.content__cover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 1440px;
  height: 576px;
}

@media screen and (max-width: 768px) {
  .page {
    width: 100%;
    height: 400px;
  }

  .content__cover {
    width: 100%;
    height: 400px;
  }
}
