.page {
  background-color: white;
  max-width: 1440px;
}

.page__content {
  background-color: white;
  background-image: url("../../assets/main-page__bckgrnd.jpg");
  max-width: 1440px;
  margin: 0 auto;
}
