.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background: none;
  max-width: 1440px;
  height: 80px;
  padding-left: 104px;
  padding-right: 104px;
  border-bottom: 1px solid #c4c4c4;
  position: relative;
  overflow: hidden;
}

.header__saved {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background: none;
  max-width: 1440px;
  height: 80px;
  padding-left: 104px;
  padding-right: 104px;
  background-color: white;
  border-bottom: 1px solid #c4c4c4;
  position: relative;
  overflow: hidden;
}

.header__logo {
  max-width: 200px;
  height: 24px;
  position: relative;
}

.header__bttn-container {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header__home-button {
  width: 49px;
  height: 24px;
  background: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}

.header__home-svpg {
  width: 49px;
  height: 24px;
  background: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #1a1b22;
  border: none;
  cursor: pointer;
}

.header__signin-button {
  background: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  width: 166px;
  height: 36px;
  border-radius: 100px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  position: relative;
  cursor: pointer;
}

.header__saved-button {
  background: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  max-width: 178px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__saved-bttn-svpg {
  background: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #1a1b22;
  max-width: 178px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.signout__bttn-container {
  border: 1px solid white;
  border-radius: 30px;
  width: 112px;
  max-height: 48px;
  text-align: center;
  padding: 12px 19px 12px 19px;
}

.bttn-container__svpg {
  border: 1px solid #1a1b22;
  border-radius: 30px;
  width: 112px;
  max-height: 48px;
  text-align: center;
  padding: 12px 19px 12px 19px;
}

.header__signout-bttn {
  height: 24px;
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  border-color: white;
  max-width: 178px;
  height: 24px;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.signout-bttn__svpg {
  height: 24px;
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #1a1b22;
  border-color: #1a1b22;
  max-width: 178px;
  height: 24px;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header__home-button:hover,
.header__signin-button:hover,
.header__signout-bttn:hover,
.header__saved-button:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.header__saved-bttn-svpg:hover,
.header__home-svpg:hover,
.header__signin-button-svpg:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.logout-icon {
  width: 24px;
  height: 24px;
}

.mobile-menu__btn {
  background: none;
  border-style: none;
  width: 24px;
  height: 24px;
  display: none;
}

.mobile__menu {
  max-height: 174px;
  width: 320px;
  background-color: #1a1b22;
  position: absolute;
  z-index: 2;
  transition: 0.3s;
  padding: 16px 16px 24px 16px;
}

.mobile__menu .header__signin-button {
  width: 288px;
  height: 56px;
  display: inline;
}

.mobile__menu .header__signout-bttn,
.mobile__menu .signout-bttn__svpg {
  width: 288px;
  height: 56px;
  display: inline;
}

.mobile__menu .header__home-button,
.mobile__menu .header__home-svpg {
  height: 56px;
  display: inline;
}

.mobile__menu .header__saved-button {
  height: 56px;
  display: inline;
}

.menu__close {
  position: absolute;
  background-image: url("../../assets/close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  margin-left: 260px;
}

.menu-content__cover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
}

.mobile__btnn-container {
  height: 56px;
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
  gap: 60px;
}

@media screen and (max-width: 768px) {
  .header,
  .header__saved {
    max-width: 100%;
    height: 66px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 200px;
  }

  .header__logo {
    height: 24px;
    width: 117px;
  }

  .header__home-button {
    width: 64px;
    height: 24px;
  }

  .header__signin-button {
    width: 152px;
    height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .header,
  .header__saved {
    max-width: 320px;
    max-height: 56px;
    gap: 136px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .header__logo {
    height: 24px;
    width: 117px;
  }

  .header__home-button,
  .header__home-svpg {
    display: none;
  }

  .header__signin-button {
    display: none;
  }

  .header__saved-button,
  .header__saved-bttn-svpg,
  .signout__bttn-container,
  .bttn-container__svpg {
    display: none;
  }

  .mobile__menu .signout__bttn-container,
  .mobile__menu .bttn-container__svpg {
    display: block;
    width: 288px;
    height: 56px;
    max-height: none;
    padding: 0;
    box-sizing: border-box;
  }

  .mobile__menu .header__signout-bttn,
  .mobile__menu .signout-bttn__svpg {
    width: 288px;
    height: 56px;
    display: flex;
  }

  .header__bttn-container {
    gap: 0px;
  }

  .mobile-menu__btn {
    display: inline-block;
    padding: 0;
  }
}
