.news-card-list {
  width: 1440px;
  height: auto;
  background-color: #f5f6f7;
  overflow: visible;
  margin: 0 auto;
  padding-top: 80px;
}

.news-card-list__header {
  width: 712px;
  height: 46px;
  font-family: "Roboto-Slab", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  margin-left: 104px;
  padding: 0;
}

.news-card-list__container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  list-style: none;
  column-gap: 8px;
  row-gap: 8px;
  margin-left: 104px;
}

.news-card-list__item {
  flex: 0 1 calc((100% - 16px) / 3);
  max-width: 400px;
}

.news-card-list__show-more-button {
  width: 288px;
  height: 64px;
  margin-left: 576px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border-radius: 80px;
  border-style: none;
  background-color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.news-card-list__show-more-button:hover {
  transition: 0.3s;
  background-color: #e8e8e8;
}

@media screen and (max-width: 768px) {
  .news-card-list {
    width: 768px;
    height: auto;
  }

  .news-card-list__container {
    margin-bottom: 32px;
    margin-left: 0px;
  }

  .news-card-list__item {
    flex-basis: 224px;
    max-width: 224px;
  }

  .news-card-list__header {
    width: 336px;
    height: 34px;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
  }

  .news-card-list__show-more-button {
    margin: o auto;
    width: 240px;
    height: 56px;
  }
  .news-card-list_expanded {
    width: 768px;
    height: 1140px;
  }
}

@media screen and (max-width: 320px) {
  .news-card-list {
    width: 320px;
    max-height: auto;
    background-color: #f5f6f7;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 24px;
  }

  .news-card-list__header {
    width: 288px;
    height: 34px;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 16px;
  }

  .news-card-list__container {
    margin-left: 0;
    justify-content: center;
    padding: 0;
    column-gap: 8px;
    row-gap: 8px;
  }

  .news-card-list__item {
    flex-basis: 288px;
    max-width: 288px;
  }

  .news-card-list__show-more-button {
    display: block;
    margin: 0 auto;
  }
}
