.newscardlist-container {
  width: 1440px;
  height: auto;
  background-color: #f5f6f7;
  overflow: visible;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 40px;
}

.newscardlist__header {
  width: 712px;
  height: 46px;

  font-family: "Roboto-Slab", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  padding: 0;
}

.newscardlist {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0;
  display: grid;
  list-style: none;
  gap: 8px;
}

.showmore__button {
  width: 288px;
  height: 64px;
  margin-left: 576px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border-radius: 80px;
  border-style: none;
  background-color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.showmore__button:hover {
  transition: 0.3s;
  background-color: #e8e8e8;
}

@media screen and (max-width: 768px) {
  .newscardlist-container {
    width: 768px;
    height: 654px;
  }

  .newscardlist {
    margin-bottom: 32px;
    margin-left: 0px;
  }

  .newscardlist__header {
    width: 336px;
    height: 34px;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
  }

  .showmore__button {
    margin-left: 272px;
    width: 240px;
    height: 56px;
  }
  .newscardlist-expanded {
    width: 768px;
    height: 1140px;
  }
}

@media screen and (max-width: 320px) {
  .newscardlist-container {
    width: 320px;
    max-height: 1568px;
    background-color: #f5f6f7;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  .newscardlist__header {
    width: 288px;
    height: 34px;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 16px;
  }

  .newscardlist {
    margin-left: 16px;
    padding: 0;
    gap: 10px;
  }

  .showmore__button {
    margin-left: 16px;
  }
}
